.hero {
  color: #fff;
  background-image: url("../images/card-header/card-dc.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 20px 0 20px;
  margin-top: -40px;
  width: 100%;
  background-position: center center;
  min-height: 35vh;
}

@media only screen and (max-width: 420px) {
  .hero {
    background-position: center center;
    min-height: 25vh !important;
  }
}

.name {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.balance {
  font-size: 68px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  transform: translateY(-10px);
}

@media only screen and (max-width: 720px) {
  .balance {
    font-size: 62px;
  }
  .name {
    font-size: 28px;
  }
}
