body {
  font-family: sans-serif;
  background: #000;
}

.rstra-content-container, .rstra-container {
  background-color: #0B334D!important;
}

main {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.screen-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 20px;
}

.push-30 {
  margin-bottom: 30px;
}

.light {
  color: #F0F7FC;
}

.light-panel {
  background-color: #F0F7FC;
  min-height: 100%;
  padding: 40px;
}

.dark {
  color: #0B334D;
}

.container {
  background: #0B334D;
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  min-height: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  /* padding-left: 20px;
  padding-right: 20px;
  padding: 1rem; */
}

@media (min-width: 512px) {
  .container {
    /* padding-left: 40px;
    padding-right: 40px; */
  }
}

.example {
  text-align: left;
}

.child-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.child-list-item {
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.child-balance {
  position: absolute;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
}

.balance-dc-icon {
  transform: translateY(-2px);
}

.list-item {
  padding-left: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

.dc-img-big {
  display: inline-block;
}

.dc-img-small {
  display: inline-block;
  width: 20px;
}

.balance {
  text-align: center;
  font-size: 68px;
  font-weight: 300;
  color: #ffffff;
}

.name {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #ffffff;
  margin-top: -30px;
  margin-bottom: -30px;
}

.action-button {
  font-weight: 600;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  background-color: #139EAA;
}

.edit img, .delete img {
  padding: 6px;
  width: 24px;
  height: auto;
}

.delete {
  background-color: #ff3636;
  color: white;
}

.logout {
  display: flex;
  padding: 8px;
  margin: 1rem 1rem 1rem auto;
  font-size: 0.8rem;
  width: 55px;
}

.form {
  min-width: 300px;
  width: 100%;
}

.text-field {
  border: 2px solid #139EAA;
  background-color: #446275;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  min-width: 300px;
  width: 100%;
  font-size: 20px;
  text-align: center; 
}

input[type="text"]::placeholder {
  color: #ccc; /* Sets the placeholder text color to white */
}

.button {
  border: 2px solid #139EAA;
  background-color: #139EAA;
  border-radius: 6px;
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

.rstra-action-button {
  min-width: 70px !important;
  height: 35px !important;
  margin-left: 4px !important;
}

.rstra-actions-container div {
  height: 35px !important;
}